body {
    background-color: #666;
    font-family: Verdana;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h1 a {
    color: #DDD;
    font-weight: normal;
    float: left;
    text-decoration: none;
}

h2 {
    color: #888;
    font-weight: normal;
}

a {
    color: #222;
}

.contentpane {
    clear: both;
    background-color: #DDD;
    border: 2px solid #999;
    padding: 10px;
}

.toplinks a {
    font-size: 12px;
    color: #DDD;
    font-weight: bold;
    float: right;
}

.photothumb {
    width: 210px;
    height: 250px;
    display: inline-table;
    border: 1px solid #DDD;
    border-bottom: 1px solid #CCC;
    padding: 15px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

.photothumb img {
    box-shadow: 0px 0px 4px #888;
}

.photothumb:hover img {
    box-shadow: 0px 0px 10px #888;
}

.photothumb:hover {
    border-bottom: 1px solid #999;
}

a.photolink {
    text-decoration: none;
}

.photothumb .imdesc {
    font-size: 11px;
    color: #777;
}

.photoview {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.photoview img {
    box-shadow: 0px 0px 7px #888;
}

.photoinfo {
    float: left;
    font-size: 12px;
    line-height: 175%;
    margin-left: 20px;
}

.photoinfoitem {
    color: #333;
}

.photoinfodata {
    font-weight: bold;
    color: #333;
}

.floatclear {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    clear: both;
}

.indexsubheader {
    float: left;
}

#indexselectors {
    margin: 20px;
    float: right;
}

#orderselect {
    width: 100px;
    background: transparent;
    padding: 3px;
    border: 1px solid #BBB;
}

#orderselect option {
    background: transparent;
    overflow: hidden;
}

.prevnextlink a {
    font-size: 40px;
    text-decoration: none;
}

.prevlink {
    float: left;
}

.nextlink {
    float: right;
}