body {
    background-color: #666;
    font-family: Verdana;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h1 a {
    color: #DDD;
    font-weight: normal;
    float: left;
    text-decoration: none;
}

h2 {
    color: #888;
    font-weight: normal;
}

a {
    color: #222;
}

.contentpane {
    clear: both;
    background-color: #DDD;
    border: 2px solid #999;
    padding: 10px;
}

.toplinks a {
    font-size: 12px;
    color: #DDD;
    font-weight: bold;
    float: right;
}

.photothumb {
    width: 210px;
    height: 250px;
    display: inline-table;
    border: 1px solid #DDD;
    border-bottom: 1px solid #CCC;
    padding: 15px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

.photothumb img {
    box-shadow: 0px 0px 4px #888;
}

.photothumb:hover img {
    box-shadow: 0px 0px 10px #888;
}

.photothumb:hover {
    border-bottom: 1px solid #999;
}

a.photolink {
    text-decoration: none;
}

.photothumb .imdesc {
    font-size: 11px;
    color: #777;
}

.photoview {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 600px;
}

.photoview img {
    box-shadow: 0px 0px 7px #888;
}

.rightcolumn {
    float: left;
    margin-left: 20px;
}

.photonav {
    height: 200px;
    padding: 20px 0px;
}

.textnavlink {
    font-size: 40px;
    color: #000;
    vertical-align: 50px;
}

.photonavlink {
    display: inline-block;
    padding: 0px;
    position: relative;
}

.photonavlink a img {
    border: 1px solid #000;
}

.photonavlink a .imgoverlay {
    vertical-align: middle;
    font-size: 40px;
    color: #EEE;
}

.photonavlink a .prev {
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.photonavlink a .next {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.nrnav {
    vertical-align: middle;
    font-size: 12px;
}

.photonavlink a {
    opacity: 0.6;
}

.photonavlink a:hover {
    opacity: 1;
}

.photonav a {
    text-decoration: none;
}

.photoinfo {
    font-size: 12px;
    line-height: 175%;
}

.photoinfoitem {
    color: #333;
}

.photoinfodata {
    font-weight: bold;
    color: #333;
}

.floatclear {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    clear: both;
}

.indexsubheader {
    float: left;
}

#indexselectors {
    margin: 20px;
    float: right;
}

.selectorseparation {
    padding: 20px;
}

#orderselect, #folderselect {
    width: 100px;
    background: transparent;
    padding: 3px;
    border: 1px solid #BBB;
}

#orderselect option, #folderselect option {
    background: transparent;
    overflow: hidden;
}

.pagination {
    float: right;
}

.pagenr {
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    background-color: #DDD;
}

.currentpagenr {
    font-weight: bold;
    background-color: #FEFEFE;
}