{% extends "base.html" %}

{% block inheader %}
    <script type="text/javascript">
        $(function(){
            $('#orderselect').on('change', function () {
                var url = $(this).val();
                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2 class="indexsubheader">All photos</h2>
    <div id="indexselectors">
        Order by: <select id="orderselect">
        {% for o, oname in possible_orders.items %}
            <option
                {% if o == ordering %} selected="selected"{% endif %}
                value="?order={{o}}"
            >
                {{oname}}
            </option>
        {% endfor %}
        </select>
        <span class="selectorseparation">&nbsp</span>
    {% include "pagination.html" %}
    </div>
    <div class="floatclear"></div>
    {% for p in photos %}
        <a class="photolink" href="{% url photo p.pk %}?order={{ordering}}">
            <div class="photothumb">
                <img src="{{p.thumb_path}}" />
                <div class="imdesc">{{p.file_name}}</div>
            </div>
        </a>
    {% endfor %}

    <div class="floatclear"></div>
    {% include "pagination.html" %}
    <div class="floatclear"></div>
{% endblock %}
