{% extends "base.html" %}

{% block inheader %}
    <script type="text/javascript">
        $(function(){
            $('#orderselect').on('change', function () {
                var url = $(this).val();
                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2 class="indexsubheader">All photos</h2>
    <div id="indexselectors">
        <!-- Ordering -->
        Order by: <select id="orderselect">
        {% for o, oname in possible_orders.items %}
            <option
                {% if o == ordering %} selected="selected"{% endif %}
                value="{% url home o 1 %}"
            >
                {{oname}}
            </option>
        {% endfor %}
        </select>
        
        <span class="selectorseparation">&nbsp</span>
        
        <!-- Slideshow setup -->
        <a href="{{all_photos.0.large_path}}" rel="lightbox[allphotos]" title="{{all_photos.0.taken_date|date:"r"}} ({{all_photos.0.file_name}})">
            Slideshow
        </a>
        {% for p in all_photos|slice:"1:" %}
            <a href="{{p.large_path}}" rel="lightbox[allphotos]" title="{{p.taken_date|date:"r"}} ({{p.file_name}})" style="display: none;"></a>
        {% endfor %}
        
        <span class="selectorseparation">&nbsp</span>
        
        {% include "pagination.html" %}
    </div>
    <div class="floatclear"></div>
    {% for p in photos %}
        <a class="photolink" href="{% url photo p.pk ordering %}">
            <div class="photothumb">
                <img src="{{p.thumb_path}}" />
                <div class="imdesc">{{p.file_name}}</div>
            </div>
        </a>
    {% endfor %}

    <div class="floatclear"></div>
    {% include "pagination.html" %}
    <div class="floatclear"></div>
{% endblock %}
